@import "tailwindcss";

/* Наша дизайн-система */
@theme {
  --color-peach-50: #FFF5F0;
  --color-peach-100: #FFE4E1;
  --color-peach-200: #FFDAB9;
  --color-peach-500: #FFB07C;
  --color-peach-900: #4A3728;
}

/* Базові налаштування */
@layer base {
  body {
    @apply bg-peach-50 text-peach-900 antialiased;
    margin: 0;
    padding: 0;
    display: block; /* Прибираємо Vite-центрування */
    min-width: 320px;
    min-height: 100vh;
  }
}
